*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
  overflow: hidden;
  font-family: tahoma, arial, sans;
  color: #fff;
}

.input {
  padding: 8px;
  background-color: #000;
  border: 1px solid #d8d8d8;
  color: #fff;
}

button.input {
  font-family: 'Days One', sans-serif;
}

.easeIn {
    animation: easein 2s;
    -webkit-animation: easein 2s; 
}

@keyframes easein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes easein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


