*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-image: url(../../misc/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  font-family: tahoma, arial, sans;
  color: #fff;
}

.input {
  padding: 8px;
  background-color: #000;
  border: 1px solid #d8d8d8;
  color: #fff;
}

button.input {
  font-family: 'Days One', sans-serif;
}