.modifyScenarioWrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.modifyScenarioHeader, .addMassWrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modifyScenarioHeader { 
    top: 0;
    border-bottom: 1px solid #d8d8d8;
    padding: 35px;
}

.addMassWrapper {
    bottom: 0;
    border-top: 1px solid #d8d8d8;
    padding: 10px;
}

.addMassTitle {
    text-align: left;
}

.smallScenarioImg, .scenarioTitle, .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.smallScenarioImg {
    width: 4%;
}

.scenarioTitle {
    font-family: 'Days One', sans-serif;
    font-size: 14px;
    left: 6%;
}

.close {
    float: right;
    right: 10px;
    padding: 9px;
    border-radius: 100%;
    text-align: center;
    border: 3px solid #d8d8d8;
    cursor: pointer;
}

.addMassTable {
    width: 100%;
    margin-top: 8px;
}

.addMassTable input, select {
    width: 100%;
}

.addMassTable th {
    text-align: left;
    font-weight: normal;
}

.addMassTable td {
    padding: 3px;
}

.addMassForm {
    width: inherit;
}

.addMassButton {
    width: 100%;
    margin-top: 5px;
}