input.slider[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #808080;
    padding: 2px;
}

input.slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000;
    border: 2px solid #888;
    width: 10px;
    height: 10px;
    border-radius: 7px;
}

input.slider[type="range"]:focus {
    outline:none;
}

.sliderLabel {
  width: 50%;
  float: left;
}

.sliderVal {
  position: absolute;
  float: left;
  width: 30%;
  overflow: hidden;
}